dash==2.8.1
dash-bootstrap-components==2.5.1
jupyter-dash==0.4.0
kaleido==0.2.1
kora==0.2.6
matplotlib==3.7.1
molplotly==0.1.9
molvs==0.10.0
numpy==1.23.5
pandas==2.2.2
plotly==5.14.1
py3Dmol==1.1.0
rdkit==2023.03.3
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
torch==2.1.0
joblib==1.2.0
Pillow==9.3.0
signaturizer3D==0.1.8
