dash==2.18.2
dash-bootstrap-components==1.6.0
Flask==3.0.3
kaleido==0.2.1
matplotlib==3.8.0
molplotly==1.1.7
molvs==0.1.1
numpy==1.26.4
pandas==2.2.2
plotly==5.24.1
rdkit==2024.3.6
seaborn==0.13.2
torch==2.1.0
py3Dmol==2.4.2
